.carousel {
  position: relative;
  width: var(--c-width);

  border-radius: 12px;
  overflow: hidden;

  align-self: center;
  justify-self: center;

  --screen-w: 1300px;
  --width-part: 0.5;
  --c-width: calc((var(--screen-w) - (48px + 8px)) * var(--width-part));

  @media (max-width: 1300px) {
    --screen-w: 100vw;
  }

  @media (max-width: 600px) {
    --width-part: 1;
  }
}

.carousel-list {
  display: flex;
  list-style: none;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.carousel-list::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.carousel-list li {
  display: inline-block;
  scroll-snap-align: center;
  font-size: 0;
}

.carousel-list img {
  display: block;
  max-width: var(--c-width);
  height: auto;
  object-fit: contain;
  pointer-events: none;
  user-select: none;
}

.carousel .button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.8;

  border: none;

  cursor: pointer;
  z-index: 2;

  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;

  font-weight: bold;
  font-size: 1.5rem;
  overflow: hidden;
  user-select: none;
}
.carousel .button:focus {
  border: none;
  outline: none;
}

.to-left {
  left: 4px;
}

.to-right {
  right: 4px;
}

.indicators {
  padding: 8px;
  background-color: rgb(250, 237, 255);
  display: flex;
  justify-content: center;
}

span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background: #ccc;
}

span.active {
  background: #333;
}
