.img-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 5px;
  background-color: black;
  max-width: 300px;
  width: 300px;
}

.img-container img:nth-child(n + 1) {
  width: 20%;
  resize: contain;
}

.img-container img:nth-child(1) {
  width: 100%;
}
